body {
  margin: 0 auto;
}

main {
  box-sizing: border-box;
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}


/* clear fix for floats */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-2, .col-3, .col-4, .col-6, .col-12 {
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}  


/* mobile defaults */
@media only screen and (max-width: 640px) {
  .col-2, .col-4, .col-6, .col-12 {
    margin-right: 10px;
    padding: 10px;
    width: 95%;
  }

  .col-3 {
    margin-bottom: 10px;
    width: 50%
  }
}


/* for non-mobile screens */
@media only screen and (min-width: 641px) {
  .col-2 {
    width: 16.6667%;
  }

  .col-3 {
    width: 25%;
  }
  
  .col-4 {
    width: 33.3333%;
  }
  
  .col-6 {
    width: 50%;
  }
  
  .col-12 {
    width: 100%;
  }
}